body{
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    background: rgba(31, 27, 27, 0.4);
    height: 100vh;
    font-size: 1rem;
    font-weight: bold;
}
li{
   font-size: 20px;
   list-style-type: disc;  
   font-weight: 100;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-right: 30px;
}
.container{
    background: white;
    padding: 0;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 80vh;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 2rem;
   margin-top: 0;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   
}
 #todoButton{
    width: fit-content;
    height: 30px;
    padding: 5px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-left: -75px;
 }
 #todoButton:hover{
    background-color: green;
 }
 #todoInput{
    margin: 10px auto auto 20px;
    border-radius: 5px;
    height: 2em;
    width: 90% ;
 }
 .delete{
   font-size: large;
    color: red;
    margin-left: 30px;
    border: none;
    background: none;
    font-weight: bold;
 }
 .delete:hover{
   background-color: red;
   color: aliceblue;
   border-radius: 50%;
 }
 a{
   text-align: center;
   align-items: center;
   margin: auto auto 0px center;
 }